@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
:root{
  --font-base:'Lexend',sans-serif;
  --font-second-base:'Inter', sans-serif;
  --background-color: #111;
  --primary-color:#ffffff;
  --secondary-clor:#e50914;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: #111;
}